/**
Copyright: Agile City District-6
2017

File Name: custom_css.css
************************************************
Change Date		Name		Description
20/11/2017		Naren		Initial Creation

************************************************

*/

/**
* This file contains the css related to main body background, header and footer
*/

.body, .html{
margin:0;
top:0;
width:100%;
//height:100%;
min-height:1200 px;
overflow-y:hidden;
}
#mainBackground0
{
	background-image:url("../image/bg.png");
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	//position:fixed;
	overflow-y:hidden;
	min-height:1100px;
}

.overlay
{
	background-color:rgba(0,0,0,0.0);
	width:100%;
	height:100%;
	color:white;
	font-family:Century Gothic;
	position:fixed;
	overflow-y:hidden;
}

.header
{
	background-color:rgba(26,0,0,1);
	width:100%;
	height:50px;
	color:white;
	font-family:Century Gothic;
	margin:0;
	top:0;
	position:fixed;
	z-index:1002;
}

.header:hover
{
	background-color:rgba(17,200,135,1);
	width:100%;
	height:50px;
	color:white;
	font-family:Century Gothic;
	margin:0;
	top:0;
	//position:fixed;
	z-index:1002;
}

.footer
{
	background-color:rgba(26,0,0,0.7);
	width:100%;
	height:50px;
	color:white;
	font-family:Century Gothic;
	//margin:0;
	//bottom:0;
	//position:fixed;
	text-align:center;
	//z-index:1000;
	font-size:20px;
	font-weight:bold;
	padding-top:10px;
}

.right{
	float:right;
	color:white;
	font-family:Century Gothic;
}
.left{
	float:left;
	color:white;
	font-family:Century Gothic;
	font-size:20px;
	margin-left:100px;
	margin-top:10px;
	font-weight:bold;
}
.header a:link, a:visited, a:active
{
	text-decoration:none;
	color:white;
	font-size:16px;
	font-family:Century Gothic;
}

.header a:hover
{
	color:white;
	font-family:Century Gothic;
	font-weight:bold;
}
.header ul li
{
	display:inline-block;
	font-family:Century Gothic;
	font-size:18px;
	width:100px;
}
.boxForMatter
{
	display:block;
	width:65%;
	height:40%;
	color:white;
	font-family:Century Gothic;
	font-size:18px;
	background-color:rgba(0,0,0,0.2);
	margin-top:90px !important;
	margin-left:18%;
	overflow:hidden;
	z-index:1001;
	position:relative;
	padding: 10px 50px 10px 50px;
}
.autoAdjust
{
	word-wrap:auto;
	color:white;
	font-family:Century Gothic;
	font-size:18px;
}
table
{
	margin-top:-18px;
}
th{
	text-align:center;
	color:white;
	
}

.container{
	max-width:1200px;
	margin:auto;
	text-align:center !important;
	line-height:1.5 !important;

}

