/**
Copyright: Agile City District-6
2017

File Name: style_demo.css
************************************************
Change Date		Name		Description
04/11/2017		Deepak S	Initial Creation

************************************************

*/

/**
* This file contains the css related to accordian and its panel.
*/

/* style of accordion */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding-left: 15px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

/* color of accordion when accordion is opened */
button.accordion.active {
    background-color: #6bbf60;
}

/* hovering effect while accordion is open*/
button.accordion.active:hover {
    background-color: #6bbf60;
}

/* hovering effect while accordion is closed*/
button.accordion:hover {
    background-color: #ccc;
}


/* solid right pointing triangle */
button.accordion:before {
    content: "\25B6";
}

/* solid down pointing triangle */
button.accordion.active:before {
    content: "\25BC";
}

/* panel style */
div.panel {
    text-align: left;
    padding: 0 18px;
    margin:2px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}