/**
Copyright: Agile City District-6
2017

File Name: style_demo.css
************************************************
Change Date		Name		Description
20/10/2017		Swati Y		Initial Creation

************************************************

*/


/* define a fixed width for the entire menu */
.navigation {
  margin-top:51px;
  width: 15%;
  background-color:#fff;
  position:fixed!important;
  line-height: 1.1 !important;
}

.
button {
    text-align: center;
    padding: 5px 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}

section>h2{
	line-height:3.5 !important;
}
/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  //list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #CCC;
  padding: 6px 16px;
  text-align: center;
  //text-decoration: none;
  //padding: 10px;
  //color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  //display: block;
  max-height: 150px;
  //left:100%;
text-align: center;
//background-color: #666;

}

.teams hover .submenu {
  display: block;
  max-height:150px;
//background-color: #C5C5C5;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  //display: block;
  //background-color: #CCC;
  cursor: pointer;
  text-align: center;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  display: block;
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: auto;
  max-height: 0;
  -webkit-transition: all 0.3s ease-out;

}

/*
To Make footer fixed at bottom in all the pages */
 footer {
   position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
 }
