/**
Copyright: Agile City District-6
2017

File Name: style_dropdown.css
************************************************
Change Date		Name		Description
22/11/2017		Deepak S	Initial Creation

************************************************

*/

/**
* This file contains the css related to dropdown menu
*/

/*
.dropbtn {
    border: none;
    cursor: pointer;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    color:white;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    //background-color: #f9f9f9;
    //z-index: 1;
}

.dropdown-content a {
    color: white !important;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color:rgba(17,200,135,0.2);
    font-weight:bold;
}

.dropdown:hover .dropdown-content {
    display: block;
	
}

.dropdown:hover .dropbtn {
	font-weight:bold;
}


/*
.open> ul>li.hz{
    display: inline-flex !important;
}

<ul>
<li><a href="#">My Link</a></li>
<li><a href="#">My Link</a></li>
<li><a href="#">My Link</a></li>
<li><a href="#">My Link</a></li>
</ul>

In your CSS, give your <ul> a 

list-style-type: none;
style, and give your <li> elements a 

display: inline;

*/
